@font-face
{
  font-family: 'DancingScript';
  src: url('DancingScriptOT.otf');
}

body
{
  font-family: 'DancingScript';
  background-color:  #02010a;
}
header
{
  height: 80px;
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
}
ul
{
  list-style-type: none;
  word-spacing: 10px;
}

a
{
  text-decoration: none;
  color: #FFFFFF;
}

a:hover
{
  text-decoration: underline;
}

figcaption
{
  display: block;
  margin: auto;
}
figure figcaption
{
  text-align: center;
  text-decoration: underline;
}
footer
{
  border-radius: 0 0 10px 10px;
  background-color: #C6d5c5;
}
#contenido
{
  width: 900px;
  margin: auto;
}

#titulo
{
  width: 70%;
  float: left;
  color: #FFFFFF;
  text-shadow: 2px 2px #02010a;
}
#menu
{
  width: 30%;
  float: right;
  color: #FFFFFF;
  margin-top: 10px;
}
#imgRotar
{
  transition: all 2s ease;
}
#imgRotar:hover
{
  transform:rotate(10deg);
}
#imgTrasladar
{
  transition: all 2s ease;
}
#imgTrasladar:hover
{
  transform: translate(20px, -5px);
}
.item-menu
{
  display: inline-block;
}
.primero
{
  background-color: #82c3a6;
  padding: 20px;
}
.imagenInicio
{
  display: block;
  margin: auto;
  width: 90%;
  box-shadow: 2px 2px #02010a;
}
.imagen1
{
  display: block;
  margin: auto;
  width: 90%;
  box-shadow: 2px 2px #02010a;
}
.segundo {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #d5c75f;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-item {
    width: 50%;
    height: auto;
    margin: 10px;

}
.tercero {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
}
.flex-item1 {
    width: 50%;
    height: auto;
}
.imagen2
{
  display: block;
  margin: auto;
  width: 90%;
  box-shadow: 2px 2px #02010a;
  -webkit-filter: blur(10px); /* Safari */
  filter: blur(10px);

}
.imagen3
{
  display: block;
  margin: auto;
  width: 90%;
  box-shadow: 2px 2px #02010a;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.imagen4
{
  display: block;
  margin: auto;
  width: 90%;
  box-shadow: 2px 2px #02010a;
  -webkit-filter: sepia(90%); /* Safari */
  filter: sepia(90%);
}
.imagen5
{
  display: block;
  margin: auto;
  width: 90%;
  box-shadow: 2px 2px #02010a;
}
