@font-face
{
  font-family: 'DancingScript';
  src: url('DancingScriptOT.otf');
}

body
{
  font-family: 'DancingScript';
  background-color:  #02010a;
}
header
{
  height: 80px;
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  animation-name: animacionC;
  animation-duration: 1s;
}
ul
{
  list-style-type: none;
  word-spacing: 10px;
}

a
{
  text-decoration: underline;
  color: #FFFFFF;
}

a.activado
{
  text-decoration: none;
}

figcaption
{
  display: block;
  margin: auto;
}
figure figcaption
{
  text-align: center;
  text-decoration: underline;
}
footer
{
  border-radius: 0 0 10px 10px;
  background-color: #C6d5c5;
}
#contenido
{
  width: 900px;
  margin: auto;
}

#titulo
{
  width: 70%;
  float: left;
  color: #FFFFFF;
  text-shadow: 2px 2px #02010a;
}
#menu
{
  width: 30%;
  float: right;
  color: #FFFFFF;
  margin-top: 10px;
}
#imgRotar
{
  transition: all 2s ease;
}
#imgRotar:hover
{
  transform:rotate(10deg);
}
#imgTrasladar
{
  transition: all 2s ease;
}
#imgTrasladar:hover
{
  transform: translate(20px, -5px);
}

.item-menu
{
  display: inline-block;
}
.primero
{
  background-color: #82c3a6;
  padding: 20px;
}
.imagenInicio
{
  display: block;
  margin: auto;
  width: 90%;
  box-shadow: 2px 2px #02010a;
}
.imagen1
{
  display: block;
  margin: auto;
  width: 90%;
  border: 1px solid black;
}
.imagen1:hover
{
  box-shadow: 2px 2px 2px 2px #82c3a6;
}
.segundo {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #d5c75f;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-item {
    width: 50%;
    height: auto;
}
.tercero {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
}
.flex-item1 {
    width: 50%;
    height: auto;
}

.imagen2
{
  display: block;
  margin: auto;
  width: 90%;
  box-shadow: 2px 2px #02010a;
  -webkit-filter: blur(10px); /* Safari */
  filter: blur(10px);

}
.imagen3
{
  display: block;
  margin: auto;
  width: 90%;
  box-shadow: 2px 2px #02010a;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.imagen4
{
  display: block;
  margin: auto;
  width: 90%;
  box-shadow: 2px 2px #02010a;
  -webkit-filter: sepia(90%); /* Safari */
  filter: sepia(90%);
}
.imagen5
{
  display: block;
  margin: auto;
  width: 90%;
  box-shadow: 2px 2px #02010a;
}

@keyframes animacionC {
    0%   {margin-top: 150%;}
    60%  {margin-top: -5%;}
    100% {margin-top: 0%;}
}

@media all (min-width: 900px) {

  #contenido
  {
    width: 700px;
    margin: auto;
    background-color: #c62828;
  }

  #titulo
  {
    width: 70%;
    float: left;
    color: #FFFFFF;
    text-shadow: 2px 2px #02010a;
  }
  #menu
  {
    width: 30%;
    float: right;
    color: #FFFFFF;
    margin-top: 10px;
  }

}

@media (max-width: 900px){

header
{
  height: 180px;
}
  #contenido
  {
    width: 100%;
    margin: auto;
  }

  #titulo
  {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px #02010a;
  }
  #menu
  {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
  }
  .segundo {
      display: block;
      width: 100%;
      height: auto;
  }
  .flex-item
  {
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
  }

  .tercero {
      display: block;
      width: 100%;
      height: auto;
  }
  .flex-item1
  {
    width: 80%;
    margin: auto;
    padding: 5px;
  }

}
